.container {
  display: flex;
  background-color: wheat;
  padding: 2rem 10rem 2rem 10rem;
}
.container-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: white;
  flex-wrap: wrap;
}
.container-wrapper > div {
  width: 500px;
}
.row-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}
.right-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
}
/* @media only screen and (max-width: 520px) {
  .right-container {
    width: 20rem;
  }
} */
