.sky {
  width: 100%;
  height: 40%;
  background: lightblue;
}
.grass {
  width: 100%;
  height: 30%;
  background: greenyellow;
}
.road {
  width: 100%;
  height: 30%;
  background: grey;
  position: relative;
}
.line {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  border: 5px dashed white;
  top: 50%;
}
.mario {
  position: absolute;
  top: 10%;
  animation: drive 3s both infinite ease-in-out, jump 3s infinite;
  /* animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
}
.luigi {
  position: absolute;
  top: -40%;
  animation-name: drive;
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes drive {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(1200px);
  }
}
@keyframes jumb {
  0% {
    top: 10%;
  }
  50% {
    top: -80%;
  }
}
